<div *ngIf="employee">
	<h2>{{employee.firstName | uppercase}} {{employee.lastName | uppercase}} Details</h2>
	<div><span>id: </span> {{employee.id}}</div>
	<div><span>Name: </span> {{employee.firstName}} {{employee.lastName}}</div>
	<div><span>Address: </span> {{employee.address.street}}, {{employee.address.city}}, {{employee.address.province}}, {{employee.address.postalCode}}</div>
	<div><span>Date of Birth: </span> {{employee.dateOfBirth}}</div>
	<div><span>Hobbies: </span> {{employee.hobbies}}</div>
	<div><span>Salary: </span> {{employee.salary}}</div>
	<div><span>Canadian Citizen: </span> {{employee.isCanadian}}</div>
	<img src = {{employee.imageUrl}}/>
</div>